<div *ngIf="isAuthorized">
  
      <div class="card border-success">
        <div class="card-body">
          <footer class="blockquote-footer ">@{{user.username }}</footer>
          <p class="card-text">{{ user.bio }}</p>
          <ul class="list-group ">
              <a *ngFor="let followed of user.following" class="list-group-item list-group-item-action" href='/user/{{followed.username}}'>
                 @{{followed.username}}

              </a>
          </ul>
        </div>
      </div>
  </div>